<header>
  <div id='nav-drawer'>
    <input id='nav-input' type='checkbox' class='nav-unshown'>
    <label id='nav-open' for='nav-input'><span></span></label>
    <div class='page_title'>幹事くん - マイページ</div>
    <label class='nav-unshown' id='nav-close' for='nav-input'></label>
    <div id='nav-content'>ここに中身を入れる</div>
  </div>
</header>